.checkoutProduct{
    background-color: white;
    padding:10px;
    margin-top:20px;
    display:flex;
}

.checkoutProduct__image{
    object-fit:contain;
    width:180px;
    height:180px;
}

.checkoutProduct__title{
    font-size:17px;
    font-weight:800px;
}

.checkoutProduct__info{
    margin-left:50px;
    display:flex;
    flex-direction:column;
}

.checkoutProduct__button{
    width:150px;
    padding:6px;
    margin-top:10px;
    background-color: #f0c14b;
    border:1px solid black;
    border-radius: 5px;
}

.checkoutProduct__rating{
    display:flex;
}